# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build byproducts
/bin
/build
/package.txt
/package-description.txt
/dist.txt
/fahclient
/fah-client
/*.pkg
/*.pkg.zip
/*.mpkg.zip
/*.tar.bz2
/*.deb

# generic files to ignore
*~
*.lock
.DS_Store
*.swp
*.out
/tmp

# Backup files
*~

# Scons
.sconf_temp
.sconsign.dblite
config.log

# client testing byproducts
/config.xml
/log*.txt
/client.db
/gpus.json
/configs
/logs
/work
/cores
/credits

.vscode
*.code-workspace
