[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Folding@home Client
URL=https://app.foldingathome.org/
Categories=Education;Science;Biology;;
Comment=Folding@home Client
Icon=fahlogo.png
