[Unit]
Description=Folding@home Client
After=network.target

[Service]
User=fah-client
ExecStart=/usr/bin/fah-client --config=/etc/fah-client/config.xml --log=/var/log/fah-client/log.txt --log-rotate-dir=/var/log/fah-client/
WorkingDirectory=/var/lib/fah-client
Restart=always
StandardOutput=null
KillMode=mixed
PrivateTmp=yes
NoNewPrivileges=yes
ProtectSystem=full
ProtectHome=yes

[Install]
WantedBy=multi-user.target
