<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ExitTimeOut</key>
	<integer>60</integer>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>Label</key>
	<string>org.foldingathome.fahclient</string>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.notifyd.matching</key>
		<dict>
			<key>fahclient on-demand launch request</key>
			<dict>
				<key>Notification</key>
				<string>org.foldingathome.fahclient.nobody.start</string>
			</dict>
		</dict>
	</dict>
	<key>LowPriorityIO</key>
	<true/>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/fah-client</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>SessionCreate</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/dev/null</string>
	<key>Umask</key>
	<integer>18</integer>
	<key>UserName</key>
	<string>nobody</string>
	<key>WorkingDirectory</key>
	<string>/Library/Application Support/FAHClient</string>
</dict>
</plist>
